/*background image*/
body,
html {
    height: 100%;
    background-image: url("../img/header-image.jpg");
    background-size: cover;
    position: relative;
}
#navMain {
    font-family: 'Happy Monkey';
    font-size: 100%;
    text-transform: uppercase;
}
